body {
    background-image: linear-gradient(#753a88,pink,#cc2b5e,pink,#753a88 );
    box-sizing: border-box;
}

.big-box {
    width: 900px;

    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 7px;



}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    border: 1px solid #cc2b5e;
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin-left: 60px;
    padding: 10px;


}

.first-text {
    display: flex;
    flex-direction: column;
    margin-top: 80px;


}

.image {
    margin-top: 50px;
    margin-right: 60px;


}

.margin-buttom {
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    background-color: lightgray;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
  



}

.leftpart-footer {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;


}

.bold {
    font-weight: bold;
}

.rightpart-footer {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;

}

.p-color {
    color: #753a88;
    margin-top: 10px;
    font-size: 22px;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.box {
    width: 700px;
    height: auto;
background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    border: 1px solid white;
    border-radius: 7px;




}

.header-design {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    border-bottom-left-radius:7px;
    border-bottom-right-radius: 7px;

}

.logo-design {
    border-radius: 20px;
    padding: 5px;
}

.header-button {
    width: 10px;
    float: right;
    margin-right: 100px;
    margin-top: 7px;
}



.margin-top {
    margin-top: 80px;
}

@media only screen and (min-width:321px) and (max-width:768px){
    .text{
        border: 1px solid blue;
        
    }

  

}





@media only screen and (max-width: 320px) {
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .text {
        border: 1px solid black;
        margin-left: 200px;
    }

    .image {
        margin-left: 250px;
    }

    .footer {
        display: flex;
        width: 100%;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .header-design{
        width: 100%;
    }
}